[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib="1.1.0"
numpy="1.23.3"
pandas="1.4.4"
scikit-learn="1.1.2"
streamlit="1.12.2"
[dev-packages]

[requires]
python_version = "3.10"
